body, html {
    background-image:url('../assetds/images/OIG3.jpeg');
    background-color :var(--primary); 
    background-color :var(--primaryTextColor);
}

main {
    width:100% !important;
}

.Vraag{
    background-color: #D2DB90;
    border-radius: 5px;
    padding: 5px;
}

.Yes{
    background-color: green;
    color: white;
    font-size: 20px;
    margin-right: 5%;
}

.No{
    background-color: red;
    color: white;
    font-size: 20px;
}

select{
    background-color: #9B6BBC;
    color: white;
    font-size: 20px;
}

form{
    display: flex;
    flex-direction:  column;
    align-items: center;
    max-width:  800px;
    margin: auto;
}